streamlit
pandas
numpy
matplotlib
japanize_matplotlib
scikit-learn
seaborn
scipy
pycaret
mlxtend
plotly
requests
beautifulsoup4
Pillow
opencv-python
graphviz
pandas_profiling
shap
umap
xgboost
lightgbm
dash
nodejs
streamlit-aggrid